p{
    border-radius: 20px;
    box-shadow: 5px 5px grey;
    display: inline;
    position: relative;
}

.solid{
    border-style: solid;
}
.dotted{
    border-style: dotted;
}
.double{
    border-style: double;
}
.dashed{
    border-style: dashed;
}

#d1{
    background-color: aquamarine;
    width: 500px;
    height: 150px;
    border: dotted 5px blue;
    padding: 50px;
    margin-left: 150px;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: greenyellow;
}

.inline{
    display: inline;
}

.padd_10{
    padding: 10px;
}

.vermelho{
    background-color: red;
}

#d3{
    position: relative;
    top: 40px;
    left: 0px;
}

#d4{
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 2;
    
}

#d5{
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

