p{
    color: greenyellow;
}

#d1{
    background-color: blueviolet;
}

.blue{
    background-color: rgb(140, 127, 255);
}

div p{
    font-size: 18pt;
}

.hover:hover{
    background-color: brown;
}

a:visited{
    color: darkorange;
}